In [1]:
2 + 2

4

# Python Basis
### level 01
- variables
- input output
- datatypes 
- operator

### level 02
- conditions
- loops
- function

#### Creating a variable

In [1]:
age = 10
is_married = False
name = 'bob'
value = 1.345

#### Integer Example

In [2]:
x = 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
print(x)

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [3]:
x = 10 ** 4299 # 10 to power of 4299
print(x)

1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

#### Float Example

In [4]:
x = 1.10
y = 1.0
z = -35.59
z = 87.7e100

#### Strings Example

In [23]:
name = "Pragya 01"
color = 'yellow'
Institute = 'xyz'

#### Boolean Example

In [6]:
is_coding = True
is_fun = True
are_u_bored = False

#### None Example

In [8]:
x = None

#### List Example

In [9]:
a = [5,10,15,20,25,30,]
vals = [1,2.2,'python']
colors = ['red', 'green', 'yellow']

#### Tuple Example

In [21]:
a = (5,10,15,20,25,30,35,40,45)
vals = (1,2.2,'Python')
colors = ('red','green','yellow')

#### Sets Example

In [10]:
a = {5,10,15,20,30}
vals = {1,2.2,'python'}
colors = {'red','green','black'}

#### Dictionary Example

In [20]:
car_info = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 1964
}

# Operators
- arithmetic
- assignment
- comparison
- logical
- identity
- membership
- bitwise

In [ ]:
x = 10 # = is used for assignment
y = 3

In [13]:
x = 10
y = 3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

13
7
30
3.3333333333333335
3
1
1000

#### Operator Precedence

In [15]:
(3+2)*(5*3)/(3*5)

5.0

In [14]:
2 + 3 * 5 / 3 - 5 + 2 -(3 -10)

11.0

#### Assignment Operator

In [24]:
a = 100 # a will get 100
a += 15 # add 15 to existing value of a
a -= 10 # remove 10 from existing value of a

In [17]:
a *= 10 # multiply 10 with current value of a
a %= 5 # store remainder in a after divided current value of 5
print(a)

0

#### Comparison Operators

In [4]:
x = 10
y = 15
print(x > y)
print(x < y)
print(x == y)
print(x != y)
print(x >= y)
print(x <= y)
print('hello' == 'hellow')
print('hi'!= "Hi")
print("this" == 'that')

False
True
False
True
False
True
False
True
False

#### Logical Operator for multiple condition

In [8]:
a = 15
b = 20

In [9]:
a > 10 and b > a

True

In [10]:
a < 10 or b > 10

True

any value other than 0 is True

In [11]:

bool(0)

False

In [12]:
bool(100)

True

empty string is taken as False

In [23]:
name = input("enter name :")
bool(name)

False

In [17]:
not a

False

membership operator 'in' and 'not in'

In [19]:
x = [3,56,83,67,21,278,231,234,57,45]

In [20]:
10 in x

False

In [21]:
3 in x

True

In [22]:
47 not in x

True

##### user input input(prompt) -> string

##### type casting -> convert one datatype to another

- int()   convert data into integer 
- float() convert data into float
- str()   convert data into str
- list()  convert data into list
- tuple() convert data into tuple
- bool()  convert data into bool
- set()   convert data into set
- dict()  convert data into dictionary

In [24]:
int(10.99)

10

In [26]:
int(True)

1

In [27]:
int('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [28]:
str(1010) # this is string now

'1010'

In [39]:
int_a = 100

In [40]:
print(int)

<class 'int'>

In [41]:
int('90')

90

#### taking input from user (input function)

In [29]:
name = input("enter ur name")
phone = input('enter ur contact :')
age = int(input('enter ur age:'))

#### WAP to Calculate a Simple Interest

In [31]:
p = int(input('Principle amt:'))
r = float(input('Rate of interest:'))
t = int(input('Time in years:'))
si = p * r * t / 100
print(si)

25920.0

In [42]:
p = int(input('Principle amt:'))
r = float(input('Rate of interest:'))
t = int(input('Time in years:'))
si = p * r * t / 100
print(f'principle {p}')
print(f'rate of interest {r}')
print(f'time {t}')
print(f'Simple Interest {si}')

principle 1000
rate of interest 3322.0
time 2
Simple Interest 66440.0

#### WAP Calculate area and circumference of circle using diameter as input

In [36]:
diameter = float(input("Enter the Diameter"))
radius = diameter/2
pi = 3.14
area  = pi*r*r
circumference = 2*pi*r
print("the area is :", area)
print("the circumference is:", circumference)

the area is : 585999.36
the circumference is: 2712.96

#### Displaying information to user
##### f -> formatted string

In [38]:
y = input("Your Name:")
x = int(input('how many badges:'))
print(f'{y} got {x} badges')

Priya got 10 badges

In [8]:

count = int(input("enter a value"))
if count>5:
    print("you are going to run this part")
if count>15:
    print("you are going to see this part also")
    if count%2==0:
        print("count is even")

you are going to run this part

In [5]:
a = 10
b =5
c=3
if a>b and a>c:
    print(f'{a=} is greater')
if b>c and b>a:
    print(f'{b=} is greater')
if c>a and c>b:
    print(f'{c=} is greater')

a=10 is greater

In [7]:

a=int(input('enter a number'))
b=int(input('enter second number'))
if a>=b:
    print('I am a genius')
else:
    print('You are a fool')

You are a fool

In [12]:
list = ['chrome','zoom','whatsapp','youtube','gmail','photo','snapchat','flipkart','amazon','telegram','linkedln','calculator','ola','paytm']
len(list)

14

In [17]:
username=input('Enter your name:')
email = input('Enter your email:')
pwd=input('Enter your password:')
pwd2=input('Confirm your password:')

if len(username)>=4 and len(username)<=15:
    if'@' in email and email.islower() and len(email)>10:
        if len(pwd)>=6 and pwd!=username:
            if pwd==pwd2:
                print("Hurray ðŸ˜")
            else:
                print("password do not match ðŸ˜«")
        else:
    
            print("password is invalid ðŸ¤")
    else:
        print("email is invalid ðŸ˜¥")
else:
    print("username is invalid ðŸ˜’")

Hurray ðŸ˜

### if-elif

In [19]:
name=input("Enter your name:")
max_marks=int(input('Enter the marks:'))
if max_marks>90:
    print("you are outstanding")
elif max_marks>75:
    print("You are intelligent")
elif max_marks>60:
    print("You are good performer")
else:
    print("poor")

You are intelligent

In [20]:
number=int(input("Enter the number:"))
if (number % 2)==0:
   print("number is even")
else:
    print("number is odd")

number is even